* {
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    color: #313131;
}

h1 {
    color: tomato;
}

p {
    margin-top: -10px;
}

ol {
    font-size: 1.5rem;
    color: #001277;
}

ol a {
    color: #001277;
    text-decoration: none;
    font-size: 1.5rem;
}

ol a:hover {
    opacity: 0.3;
}