.docs-head {
    img {
        width: 200px;
        justify-self: flex-end;
    }
}

.docs-main {
    h3 {
        margin: 20px 0;
    }

   .grid {
       grid-template-columns: 1fr 2fr;
       align-items: flex-start;
   } 

   nav li {
       font-size: 17px;
       padding-bottom: 5px;
       margin-bottom: 5px;
       border-bottom: 1px #ccc solid;
   }

   a:hover {
       font-weight: bold;
   }
}